/* background fixed */

.background{
  height: 100%;
  width: 100%;
  background: map-get($color,"-white");
  background: linear-gradient(165deg, map-get($color,"-white") 0%, map-get($color,"-iceberg") 40%);
  &::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    transform: translate(-40%, -40%);
    filter: blur(20px);
    background-color: map-get($color,'-lime');
    opacity: 0.13;
  }
  &::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    transform: translate(-80%, 50%);
    filter: blur(20px);
    background-color: #00FFEB;
    opacity: 0.13;
  }
}

/* main */
main{
  height: 100vh;
  .main-bg{
    background: map-get($color,"-white");
    background: linear-gradient(165deg, map-get($color,"-white") 0%, map-get($color,"-iceberg") 100%);
  }
  .homepage-img{
    .image{
      &:not(.logo){
        width: 540px;
        @include media-query("(max-width: 1399px)") {
          width: 100%;
        }
        @include media-query("(max-width: 550px)") {
          width: 70%;
        }
      }
    }
    .logo{
      width: 100px;
      height: 78px;
      top: calc(50% + 100px);
      left: 100px;
      transform: translate(0, -50%);
      @include media-query("(max-width: 1399px)") {
        top: calc(50% + 85px);
        left: 90px;
      }
      @include media-query("(max-width: 1299px)") {
        width: 80px;
        height: 58px;
        top: calc(50% + 65px);
        left: 80px;
      }
    }
  }
  .homepage-text{
    .logo{
      width: 100px;
      height: 80px;
    }
  }
}

.fixed-height{
  height: 100%;
  @include media-query("(max-width: 991px)") {
    height: auto !important;
  }
}

/* a black page */
.back-black{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 8;
  visibility: hidden;
  opacity: 0;
  transition: all .2s ease;
  &.active{
    visibility: visible;
    opacity: 1;
  }
}