$DefaultFonts: serif, sans-serif, cursive, fantasy, monospace;
//===============================================
//colors
//===============================================

$color: (
        -transparent: transparent,
        -white: #fff,
        -white-b-6: rgba(255, 255, 255, 0.6),
        -white-smoke : #f6f6f6,
        -black: #000,
        -black-b-8: rgba(0, 0, 0, 0.8),
        -purple : #800080,
        -purple-b-4 : rgba(128, 0, 128, 0.4),
        -purple-b-04 : rgba(128, 0, 128, 0.04),
        -valencia: #d94c48,
        -black-russian: #0e0f10,
        -lime: #00ff00,
        -jade: #00b078,
        -jade-b-6: rgba(0, 176, 120, 0.06),
        -aqua: #00ffeb,
        -iceberg: #d1ddd9,
        -dim-gray: #676767,
        -dim-gray-b-4: rgba(103, 103, 103, 0.4),
        -dim-gray-2: #707070,
        -dim-gray-2-b-5: rgba(112, 112, 112, 0.5),
        -whisper: #ececec,
        -whisper-2-b-5: rgba(237, 237, 237, 0.5),
        -lavender-rose: #f3aaf3,
        -lavender-rose-b-6: rgba(243, 170, 243, 0.6),
        -salmon: #ff7b7b,
        -cruise: #b1ddcf,
        -snow: #f9f9f9,
);

//===============================================
//numbers
//===============================================
$L: 1200px;
$M: 992px;
$S: 768px;
$xs: 576px;
$margin-and-padding-size: 2.5rem;
$f-10: 10px;
$f-16: 16px;
$f-14: 14px;
$f-12: 12px;
$f-10: 10px;
$f-18: 18px;
$f-20: 20px;
$f-26: 26px;
