@font-face {
  font-family: "iran-yekan";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/iran-yekan/IRANYekanWebBlack.woff") format("woff");
}
@font-face {
  font-family: "iran-yekan";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/iran-yekan/IRANYekanWebBold.woff") format("woff");
}
@font-face {
  font-family: "iran-yekan";
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/iran-yekan/IRANYekanWebLight.woff") format("woff");
}
@font-face {
  font-family: "iran-yekan";
  font-weight: 200;
  font-style: normal;
  src: url("../fonts/iran-yekan/IRANYekanWebMedium.woff") format("woff");
}
@font-face {
  font-family: "icon-font";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/icon-font/icon-font.woff") format("woff");
}
[class*=font-weight-] {
  font-family: iran-yekan, serif, sans-serif, cursive, fantasy, monospace;
}

.fw-normal {
  font-weight: 100 !important;
}

[class^=icon-font-]:before,
[class^=icon-font-]:after {
  font-family: icon-font, serif, sans-serif, cursive, fantasy, monospace;
  font-weight: inherit;
  line-height: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: iran-yekan, serif, sans-serif, cursive, fantasy, monospace;
  outline: none;
}

a, a:active, a:hover {
  text-decoration: none;
  color: inherit;
  transition: all 0.1s ease;
}

a:hover img {
  opacity: 0.75;
}

ul li {
  list-style: none;
}

.dir-ltr {
  direction: ltr;
}

.overflow-hidden {
  overflow: hidden !important;
}

.overflow-x-hidden {
  overflow-x: hidden !important;
}

.continuation-line {
  height: 2px;
}

.pointer-events-none {
  pointer-events: none;
}

.text-no-wrap {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
}

.cursor-pointer {
  cursor: pointer;
}

.black-page {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 9;
  visibility: hidden;
  transition: all 0.2s ease;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.36);
}
.black-page.active {
  visibility: visible;
  opacity: 1;
}

.rtl .continuation-line {
  margin-right: 25px;
  margin-left: 0;
}

.transition-1s {
  transition: all 0.1s ease;
}

.line-height-1 {
  line-height: 1;
}

.list-style-1 > li:before {
  content: "";
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 5px;
  height: 5px;
  background-color: #000;
}

.border-radius-5 {
  border-radius: 2px;
}

.border-radius-10 {
  border-radius: 4px;
}

.border-radius-15 {
  border-radius: 6px;
}

.border-radius-20 {
  border-radius: 8px;
}

.border-radius-25 {
  border-radius: 10px;
}

.border-radius-30 {
  border-radius: 12px;
}

.border-radius-35 {
  border-radius: 14px;
}

.border-radius-40 {
  border-radius: 16px;
}

.border-radius-45 {
  border-radius: 18px;
}

.border-radius-50 {
  border-radius: 20px;
}

.border-width-1 {
  border-width: 1px;
}

.border-width-2 {
  border-width: 2px;
}

.border-width-3 {
  border-width: 3px;
}

.border-width-4 {
  border-width: 4px;
}

.border-width-5 {
  border-width: 5px;
}

.border-bottom-width-1 {
  border-bottom-width: 1px;
}

.border-bottom-width-2 {
  border-bottom-width: 2px;
}

.border-bottom-width-3 {
  border-bottom-width: 3px;
}

.border-bottom-width-4 {
  border-bottom-width: 4px;
}

.border-bottom-width-5 {
  border-bottom-width: 5px;
}

.border-style-solid {
  border-style: solid;
}

.border-bottom-style-solid {
  border-bottom-style: solid;
}

.border-color-transparent {
  border-color: transparent;
}

.border-color-transparent-hover:hover {
  border-color: transparent !important;
}

.border-bottom-color-transparent {
  border-color: transparent;
}

.border-bottom-color-transparent-hover:hover {
  border-color: transparent !important;
}

.border-color-white {
  border-color: #fff;
}

.border-color-white-hover:hover {
  border-color: #fff !important;
}

.border-bottom-color-white {
  border-color: #fff;
}

.border-bottom-color-white-hover:hover {
  border-color: #fff !important;
}

.border-color-white-b-6 {
  border-color: rgba(255, 255, 255, 0.6);
}

.border-color-white-b-6-hover:hover {
  border-color: rgba(255, 255, 255, 0.6) !important;
}

.border-bottom-color-white-b-6 {
  border-color: rgba(255, 255, 255, 0.6);
}

.border-bottom-color-white-b-6-hover:hover {
  border-color: rgba(255, 255, 255, 0.6) !important;
}

.border-color-white-smoke {
  border-color: #f6f6f6;
}

.border-color-white-smoke-hover:hover {
  border-color: #f6f6f6 !important;
}

.border-bottom-color-white-smoke {
  border-color: #f6f6f6;
}

.border-bottom-color-white-smoke-hover:hover {
  border-color: #f6f6f6 !important;
}

.border-color-white-smoke-2 {
  border-color: #f1f1f1;
}

.border-color-white-smoke-2-hover:hover {
  border-color: #f1f1f1 !important;
}

.border-bottom-color-white-smoke-2 {
  border-color: #f1f1f1;
}

.border-bottom-color-white-smoke-2-hover:hover {
  border-color: #f1f1f1 !important;
}

.border-color-silver {
  border-color: #c2c2c2;
}

.border-color-silver-hover:hover {
  border-color: #c2c2c2 !important;
}

.border-bottom-color-silver {
  border-color: #c2c2c2;
}

.border-bottom-color-silver-hover:hover {
  border-color: #c2c2c2 !important;
}

.border-color-black {
  border-color: #000;
}

.border-color-black-hover:hover {
  border-color: #000 !important;
}

.border-bottom-color-black {
  border-color: #000;
}

.border-bottom-color-black-hover:hover {
  border-color: #000 !important;
}

.border-color-black-b-8 {
  border-color: rgba(0, 0, 0, 0.8);
}

.border-color-black-b-8-hover:hover {
  border-color: rgba(0, 0, 0, 0.8) !important;
}

.border-bottom-color-black-b-8 {
  border-color: rgba(0, 0, 0, 0.8);
}

.border-bottom-color-black-b-8-hover:hover {
  border-color: rgba(0, 0, 0, 0.8) !important;
}

.border-color-purple {
  border-color: #800080;
}

.border-color-purple-hover:hover {
  border-color: #800080 !important;
}

.border-bottom-color-purple {
  border-color: #800080;
}

.border-bottom-color-purple-hover:hover {
  border-color: #800080 !important;
}

.border-color-purple-b-4 {
  border-color: rgba(128, 0, 128, 0.4);
}

.border-color-purple-b-4-hover:hover {
  border-color: rgba(128, 0, 128, 0.4) !important;
}

.border-bottom-color-purple-b-4 {
  border-color: rgba(128, 0, 128, 0.4);
}

.border-bottom-color-purple-b-4-hover:hover {
  border-color: rgba(128, 0, 128, 0.4) !important;
}

.border-color-purple-b-04 {
  border-color: rgba(128, 0, 128, 0.04);
}

.border-color-purple-b-04-hover:hover {
  border-color: rgba(128, 0, 128, 0.04) !important;
}

.border-bottom-color-purple-b-04 {
  border-color: rgba(128, 0, 128, 0.04);
}

.border-bottom-color-purple-b-04-hover:hover {
  border-color: rgba(128, 0, 128, 0.04) !important;
}

.border-color-valencia {
  border-color: #d94c48;
}

.border-color-valencia-hover:hover {
  border-color: #d94c48 !important;
}

.border-bottom-color-valencia {
  border-color: #d94c48;
}

.border-bottom-color-valencia-hover:hover {
  border-color: #d94c48 !important;
}

.border-color-black-russian {
  border-color: #0e0f10;
}

.border-color-black-russian-hover:hover {
  border-color: #0e0f10 !important;
}

.border-bottom-color-black-russian {
  border-color: #0e0f10;
}

.border-bottom-color-black-russian-hover:hover {
  border-color: #0e0f10 !important;
}

.border-color-lime {
  border-color: #00ff00;
}

.border-color-lime-hover:hover {
  border-color: #00ff00 !important;
}

.border-bottom-color-lime {
  border-color: #00ff00;
}

.border-bottom-color-lime-hover:hover {
  border-color: #00ff00 !important;
}

.border-color-jade {
  border-color: #00b078;
}

.border-color-jade-hover:hover {
  border-color: #00b078 !important;
}

.border-bottom-color-jade {
  border-color: #00b078;
}

.border-bottom-color-jade-hover:hover {
  border-color: #00b078 !important;
}

.border-color-jade-b-6 {
  border-color: rgba(0, 176, 120, 0.06);
}

.border-color-jade-b-6-hover:hover {
  border-color: rgba(0, 176, 120, 0.06) !important;
}

.border-bottom-color-jade-b-6 {
  border-color: rgba(0, 176, 120, 0.06);
}

.border-bottom-color-jade-b-6-hover:hover {
  border-color: rgba(0, 176, 120, 0.06) !important;
}

.border-color-aqua {
  border-color: #00ffeb;
}

.border-color-aqua-hover:hover {
  border-color: #00ffeb !important;
}

.border-bottom-color-aqua {
  border-color: #00ffeb;
}

.border-bottom-color-aqua-hover:hover {
  border-color: #00ffeb !important;
}

.border-color-iceberg {
  border-color: #d1ddd9;
}

.border-color-iceberg-hover:hover {
  border-color: #d1ddd9 !important;
}

.border-bottom-color-iceberg {
  border-color: #d1ddd9;
}

.border-bottom-color-iceberg-hover:hover {
  border-color: #d1ddd9 !important;
}

.border-color-dim-gray {
  border-color: #676767;
}

.border-color-dim-gray-hover:hover {
  border-color: #676767 !important;
}

.border-bottom-color-dim-gray {
  border-color: #676767;
}

.border-bottom-color-dim-gray-hover:hover {
  border-color: #676767 !important;
}

.border-color-dim-gray-b-4 {
  border-color: rgba(103, 103, 103, 0.4);
}

.border-color-dim-gray-b-4-hover:hover {
  border-color: rgba(103, 103, 103, 0.4) !important;
}

.border-bottom-color-dim-gray-b-4 {
  border-color: rgba(103, 103, 103, 0.4);
}

.border-bottom-color-dim-gray-b-4-hover:hover {
  border-color: rgba(103, 103, 103, 0.4) !important;
}

.border-color-dim-gray-2 {
  border-color: #707070;
}

.border-color-dim-gray-2-hover:hover {
  border-color: #707070 !important;
}

.border-bottom-color-dim-gray-2 {
  border-color: #707070;
}

.border-bottom-color-dim-gray-2-hover:hover {
  border-color: #707070 !important;
}

.border-color-dim-gray-2-b-5 {
  border-color: rgba(112, 112, 112, 0.5);
}

.border-color-dim-gray-2-b-5-hover:hover {
  border-color: rgba(112, 112, 112, 0.5) !important;
}

.border-bottom-color-dim-gray-2-b-5 {
  border-color: rgba(112, 112, 112, 0.5);
}

.border-bottom-color-dim-gray-2-b-5-hover:hover {
  border-color: rgba(112, 112, 112, 0.5) !important;
}

.border-color-whisper {
  border-color: #ececec;
}

.border-color-whisper-hover:hover {
  border-color: #ececec !important;
}

.border-bottom-color-whisper {
  border-color: #ececec;
}

.border-bottom-color-whisper-hover:hover {
  border-color: #ececec !important;
}

.border-color-whisper-2-b-5 {
  border-color: rgba(237, 237, 237, 0.5);
}

.border-color-whisper-2-b-5-hover:hover {
  border-color: rgba(237, 237, 237, 0.5) !important;
}

.border-bottom-color-whisper-2-b-5 {
  border-color: rgba(237, 237, 237, 0.5);
}

.border-bottom-color-whisper-2-b-5-hover:hover {
  border-color: rgba(237, 237, 237, 0.5) !important;
}

.border-color-lavender-rose {
  border-color: #f3aaf3;
}

.border-color-lavender-rose-hover:hover {
  border-color: #f3aaf3 !important;
}

.border-bottom-color-lavender-rose {
  border-color: #f3aaf3;
}

.border-bottom-color-lavender-rose-hover:hover {
  border-color: #f3aaf3 !important;
}

.border-color-lavender-rose-b-6 {
  border-color: rgba(243, 170, 243, 0.6);
}

.border-color-lavender-rose-b-6-hover:hover {
  border-color: rgba(243, 170, 243, 0.6) !important;
}

.border-bottom-color-lavender-rose-b-6 {
  border-color: rgba(243, 170, 243, 0.6);
}

.border-bottom-color-lavender-rose-b-6-hover:hover {
  border-color: rgba(243, 170, 243, 0.6) !important;
}

.border-color-selago {
  border-color: #ffeaff;
}

.border-color-selago-hover:hover {
  border-color: #ffeaff !important;
}

.border-bottom-color-selago {
  border-color: #ffeaff;
}

.border-bottom-color-selago-hover:hover {
  border-color: #ffeaff !important;
}

.border-color-salmon {
  border-color: #ff7b7b;
}

.border-color-salmon-hover:hover {
  border-color: #ff7b7b !important;
}

.border-bottom-color-salmon {
  border-color: #ff7b7b;
}

.border-bottom-color-salmon-hover:hover {
  border-color: #ff7b7b !important;
}

.border-color-cruise {
  border-color: #b1ddcf;
}

.border-color-cruise-hover:hover {
  border-color: #b1ddcf !important;
}

.border-bottom-color-cruise {
  border-color: #b1ddcf;
}

.border-bottom-color-cruise-hover:hover {
  border-color: #b1ddcf !important;
}

.border-color-cruise-b-4 {
  border-color: rgba(177, 221, 207, 0.4);
}

.border-color-cruise-b-4-hover:hover {
  border-color: rgba(177, 221, 207, 0.4) !important;
}

.border-bottom-color-cruise-b-4 {
  border-color: rgba(177, 221, 207, 0.4);
}

.border-bottom-color-cruise-b-4-hover:hover {
  border-color: rgba(177, 221, 207, 0.4) !important;
}

.border-color-snow {
  border-color: #f9f9f9;
}

.border-color-snow-hover:hover {
  border-color: #f9f9f9 !important;
}

.border-bottom-color-snow {
  border-color: #f9f9f9;
}

.border-bottom-color-snow-hover:hover {
  border-color: #f9f9f9 !important;
}

.border-color-gossamer {
  border-color: #47a98a;
}

.border-color-gossamer-hover:hover {
  border-color: #47a98a !important;
}

.border-bottom-color-gossamer {
  border-color: #47a98a;
}

.border-bottom-color-gossamer-hover:hover {
  border-color: #47a98a !important;
}

.border-color-mint-cream {
  border-color: #f1fffb;
}

.border-color-mint-cream-hover:hover {
  border-color: #f1fffb !important;
}

.border-bottom-color-mint-cream {
  border-color: #f1fffb;
}

.border-bottom-color-mint-cream-hover:hover {
  border-color: #f1fffb !important;
}

.color-transparent {
  color: transparent;
}

.color-transparent-hover:hover {
  color: transparent !important;
}

.color-white {
  color: #fff;
}

.color-white-hover:hover {
  color: #fff !important;
}

.color-white-b-6 {
  color: rgba(255, 255, 255, 0.6);
}

.color-white-b-6-hover:hover {
  color: rgba(255, 255, 255, 0.6) !important;
}

.color-white-smoke {
  color: #f6f6f6;
}

.color-white-smoke-hover:hover {
  color: #f6f6f6 !important;
}

.color-white-smoke-2 {
  color: #f1f1f1;
}

.color-white-smoke-2-hover:hover {
  color: #f1f1f1 !important;
}

.color-silver {
  color: #c2c2c2;
}

.color-silver-hover:hover {
  color: #c2c2c2 !important;
}

.color-black {
  color: #000;
}

.color-black-hover:hover {
  color: #000 !important;
}

.color-black-b-8 {
  color: rgba(0, 0, 0, 0.8);
}

.color-black-b-8-hover:hover {
  color: rgba(0, 0, 0, 0.8) !important;
}

.color-purple {
  color: #800080;
}

.color-purple-hover:hover {
  color: #800080 !important;
}

.color-purple-b-4 {
  color: rgba(128, 0, 128, 0.4);
}

.color-purple-b-4-hover:hover {
  color: rgba(128, 0, 128, 0.4) !important;
}

.color-purple-b-04 {
  color: rgba(128, 0, 128, 0.04);
}

.color-purple-b-04-hover:hover {
  color: rgba(128, 0, 128, 0.04) !important;
}

.color-valencia {
  color: #d94c48;
}

.color-valencia-hover:hover {
  color: #d94c48 !important;
}

.color-black-russian {
  color: #0e0f10;
}

.color-black-russian-hover:hover {
  color: #0e0f10 !important;
}

.color-lime {
  color: #00ff00;
}

.color-lime-hover:hover {
  color: #00ff00 !important;
}

.color-jade {
  color: #00b078;
}

.color-jade-hover:hover {
  color: #00b078 !important;
}

.color-jade-b-6 {
  color: rgba(0, 176, 120, 0.06);
}

.color-jade-b-6-hover:hover {
  color: rgba(0, 176, 120, 0.06) !important;
}

.color-aqua {
  color: #00ffeb;
}

.color-aqua-hover:hover {
  color: #00ffeb !important;
}

.color-iceberg {
  color: #d1ddd9;
}

.color-iceberg-hover:hover {
  color: #d1ddd9 !important;
}

.color-dim-gray {
  color: #676767;
}

.color-dim-gray-hover:hover {
  color: #676767 !important;
}

.color-dim-gray-b-4 {
  color: rgba(103, 103, 103, 0.4);
}

.color-dim-gray-b-4-hover:hover {
  color: rgba(103, 103, 103, 0.4) !important;
}

.color-dim-gray-2 {
  color: #707070;
}

.color-dim-gray-2-hover:hover {
  color: #707070 !important;
}

.color-dim-gray-2-b-5 {
  color: rgba(112, 112, 112, 0.5);
}

.color-dim-gray-2-b-5-hover:hover {
  color: rgba(112, 112, 112, 0.5) !important;
}

.color-whisper {
  color: #ececec;
}

.color-whisper-hover:hover {
  color: #ececec !important;
}

.color-whisper-2-b-5 {
  color: rgba(237, 237, 237, 0.5);
}

.color-whisper-2-b-5-hover:hover {
  color: rgba(237, 237, 237, 0.5) !important;
}

.color-lavender-rose {
  color: #f3aaf3;
}

.color-lavender-rose-hover:hover {
  color: #f3aaf3 !important;
}

.color-lavender-rose-b-6 {
  color: rgba(243, 170, 243, 0.6);
}

.color-lavender-rose-b-6-hover:hover {
  color: rgba(243, 170, 243, 0.6) !important;
}

.color-selago {
  color: #ffeaff;
}

.color-selago-hover:hover {
  color: #ffeaff !important;
}

.color-salmon {
  color: #ff7b7b;
}

.color-salmon-hover:hover {
  color: #ff7b7b !important;
}

.color-cruise {
  color: #b1ddcf;
}

.color-cruise-hover:hover {
  color: #b1ddcf !important;
}

.color-cruise-b-4 {
  color: rgba(177, 221, 207, 0.4);
}

.color-cruise-b-4-hover:hover {
  color: rgba(177, 221, 207, 0.4) !important;
}

.color-snow {
  color: #f9f9f9;
}

.color-snow-hover:hover {
  color: #f9f9f9 !important;
}

.color-gossamer {
  color: #47a98a;
}

.color-gossamer-hover:hover {
  color: #47a98a !important;
}

.color-mint-cream {
  color: #f1fffb;
}

.color-mint-cream-hover:hover {
  color: #f1fffb !important;
}

.bgc-transparent {
  background-color: transparent;
}

.bgc-transparent-hover:hover {
  background-color: transparent !important;
}

.bgc-white {
  background-color: #fff;
}

.bgc-white-hover:hover {
  background-color: #fff !important;
}

.bgc-white-b-6 {
  background-color: rgba(255, 255, 255, 0.6);
}

.bgc-white-b-6-hover:hover {
  background-color: rgba(255, 255, 255, 0.6) !important;
}

.bgc-white-smoke {
  background-color: #f6f6f6;
}

.bgc-white-smoke-hover:hover {
  background-color: #f6f6f6 !important;
}

.bgc-white-smoke-2 {
  background-color: #f1f1f1;
}

.bgc-white-smoke-2-hover:hover {
  background-color: #f1f1f1 !important;
}

.bgc-silver {
  background-color: #c2c2c2;
}

.bgc-silver-hover:hover {
  background-color: #c2c2c2 !important;
}

.bgc-black {
  background-color: #000;
}

.bgc-black-hover:hover {
  background-color: #000 !important;
}

.bgc-black-b-8 {
  background-color: rgba(0, 0, 0, 0.8);
}

.bgc-black-b-8-hover:hover {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.bgc-purple {
  background-color: #800080;
}

.bgc-purple-hover:hover {
  background-color: #800080 !important;
}

.bgc-purple-b-4 {
  background-color: rgba(128, 0, 128, 0.4);
}

.bgc-purple-b-4-hover:hover {
  background-color: rgba(128, 0, 128, 0.4) !important;
}

.bgc-purple-b-04 {
  background-color: rgba(128, 0, 128, 0.04);
}

.bgc-purple-b-04-hover:hover {
  background-color: rgba(128, 0, 128, 0.04) !important;
}

.bgc-valencia {
  background-color: #d94c48;
}

.bgc-valencia-hover:hover {
  background-color: #d94c48 !important;
}

.bgc-black-russian {
  background-color: #0e0f10;
}

.bgc-black-russian-hover:hover {
  background-color: #0e0f10 !important;
}

.bgc-lime {
  background-color: #00ff00;
}

.bgc-lime-hover:hover {
  background-color: #00ff00 !important;
}

.bgc-jade {
  background-color: #00b078;
}

.bgc-jade-hover:hover {
  background-color: #00b078 !important;
}

.bgc-jade-b-6 {
  background-color: rgba(0, 176, 120, 0.06);
}

.bgc-jade-b-6-hover:hover {
  background-color: rgba(0, 176, 120, 0.06) !important;
}

.bgc-aqua {
  background-color: #00ffeb;
}

.bgc-aqua-hover:hover {
  background-color: #00ffeb !important;
}

.bgc-iceberg {
  background-color: #d1ddd9;
}

.bgc-iceberg-hover:hover {
  background-color: #d1ddd9 !important;
}

.bgc-dim-gray {
  background-color: #676767;
}

.bgc-dim-gray-hover:hover {
  background-color: #676767 !important;
}

.bgc-dim-gray-b-4 {
  background-color: rgba(103, 103, 103, 0.4);
}

.bgc-dim-gray-b-4-hover:hover {
  background-color: rgba(103, 103, 103, 0.4) !important;
}

.bgc-dim-gray-2 {
  background-color: #707070;
}

.bgc-dim-gray-2-hover:hover {
  background-color: #707070 !important;
}

.bgc-dim-gray-2-b-5 {
  background-color: rgba(112, 112, 112, 0.5);
}

.bgc-dim-gray-2-b-5-hover:hover {
  background-color: rgba(112, 112, 112, 0.5) !important;
}

.bgc-whisper {
  background-color: #ececec;
}

.bgc-whisper-hover:hover {
  background-color: #ececec !important;
}

.bgc-whisper-2-b-5 {
  background-color: rgba(237, 237, 237, 0.5);
}

.bgc-whisper-2-b-5-hover:hover {
  background-color: rgba(237, 237, 237, 0.5) !important;
}

.bgc-lavender-rose {
  background-color: #f3aaf3;
}

.bgc-lavender-rose-hover:hover {
  background-color: #f3aaf3 !important;
}

.bgc-lavender-rose-b-6 {
  background-color: rgba(243, 170, 243, 0.6);
}

.bgc-lavender-rose-b-6-hover:hover {
  background-color: rgba(243, 170, 243, 0.6) !important;
}

.bgc-selago {
  background-color: #ffeaff;
}

.bgc-selago-hover:hover {
  background-color: #ffeaff !important;
}

.bgc-salmon {
  background-color: #ff7b7b;
}

.bgc-salmon-hover:hover {
  background-color: #ff7b7b !important;
}

.bgc-cruise {
  background-color: #b1ddcf;
}

.bgc-cruise-hover:hover {
  background-color: #b1ddcf !important;
}

.bgc-cruise-b-4 {
  background-color: rgba(177, 221, 207, 0.4);
}

.bgc-cruise-b-4-hover:hover {
  background-color: rgba(177, 221, 207, 0.4) !important;
}

.bgc-snow {
  background-color: #f9f9f9;
}

.bgc-snow-hover:hover {
  background-color: #f9f9f9 !important;
}

.bgc-gossamer {
  background-color: #47a98a;
}

.bgc-gossamer-hover:hover {
  background-color: #47a98a !important;
}

.bgc-mint-cream {
  background-color: #f1fffb;
}

.bgc-mint-cream-hover:hover {
  background-color: #f1fffb !important;
}

.bg-instagram {
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.bg-position-center {
  background-position: center;
}

.bg-size-cover {
  background-size: cover;
}

.bg-attachment-fixed {
  background-attachment: fixed;
}

.object-fit-cover {
  object-fit: cover;
}

.m-top {
  margin-top: 2.5rem;
}

.m-bottom {
  margin-bottom: 2.5rem;
}

.p-top {
  padding-top: 2.5rem;
}

.p-bottom {
  padding-bottom: 2.5rem;
}

.icon-font-arrow-right:before {
  content: "\f100";
}

.icon-font-cactus:before {
  content: "\f101";
}

.icon-font-mail:before {
  content: "\f102";
}

.icon-font-soil:before {
  content: "\f103";
}

.icon-font-phone:before {
  content: "\f104";
}

.icon-font-glasses:before {
  content: "\f105";
}

.icon-font-bow-tie:before {
  content: "\f106";
}

.icon-font-search:before {
  content: "\f107";
}

.icon-font-chevron-right:before {
  content: "\f108";
}

.icon-font-chevron-left:before {
  content: "\f109";
}

.icon-font-vase:before {
  content: "\f110";
}

.icon-font-whatsApp:before {
  content: "\f111";
}

.icon-font-instagram:before {
  content: "\f112";
}

.icon-font-plus:before {
  content: "\f113";
}

.icon-font-close:before {
  content: "\f114";
}

.icon-font-arrow-down:before {
  content: "\f115";
}

.icon-font-arrow-up:before {
  content: "\f116";
}

.icon-font-menu:before {
  content: "\f117";
}

.icon-font-plus-bold:before {
  content: "\f118";
}

.icon-font-triangle:before {
  content: "\f119";
}

.icon-font-warning:before {
  content: "\f120";
}

.icon-font-tick:before {
  content: "\f121";
}

.z-index-1 {
  z-index: 1;
}

.font-size-4 {
  font-size: 4px;
}

.font-size-6 {
  font-size: 6px;
}

.font-size-8 {
  font-size: 8px;
}

.font-size-10 {
  font-size: 10px;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-22 {
  font-size: 22px;
}

.font-size-24 {
  font-size: 24px;
}

.font-size-26 {
  font-size: 26px;
}

.font-size-28 {
  font-size: 28px;
}

.font-size-30 {
  font-size: 30px;
}

.font-size-32 {
  font-size: 32px;
}

.font-size-34 {
  font-size: 34px;
}

.font-size-36 {
  font-size: 36px;
}

.font-size-38 {
  font-size: 38px;
}

.font-size-40 {
  font-size: 40px;
}

.font-size-42 {
  font-size: 42px;
}

.font-size-44 {
  font-size: 44px;
}

.font-size-46 {
  font-size: 46px;
}

.font-size-48 {
  font-size: 48px;
}

.font-size-50 {
  font-size: 50px;
}

.font-size-52 {
  font-size: 52px;
}

.font-size-54 {
  font-size: 54px;
}

.font-size-56 {
  font-size: 56px;
}

.font-size-58 {
  font-size: 58px;
}

.font-size-60 {
  font-size: 60px;
}

.font-size-62 {
  font-size: 62px;
}

.font-size-64 {
  font-size: 64px;
}

.font-size-66 {
  font-size: 66px;
}

.font-size-68 {
  font-size: 68px;
}

.font-size-70 {
  font-size: 70px;
}

.font-size-72 {
  font-size: 72px;
}

.font-size-74 {
  font-size: 74px;
}

.font-size-76 {
  font-size: 76px;
}

.font-size-78 {
  font-size: 78px;
}

.font-size-80 {
  font-size: 80px;
}

.font-size-82 {
  font-size: 82px;
}

.font-size-84 {
  font-size: 84px;
}

.font-size-86 {
  font-size: 86px;
}

.font-size-88 {
  font-size: 88px;
}

.font-size-90 {
  font-size: 90px;
}

.font-size-92 {
  font-size: 92px;
}

.font-size-94 {
  font-size: 94px;
}

.font-size-96 {
  font-size: 96px;
}

.font-size-98 {
  font-size: 98px;
}

.font-size-100 {
  font-size: 100px;
}

.flex-2 {
  flex: 2;
}

.flex-100 {
  flex: 100;
}

.btn.btn-xs {
  padding: 0.05rem 0.4rem;
  font-size: 0.775rem;
  line-height: 1.4;
  border-radius: 0.2rem;
}

@media only screen and (min-width: 1200px) {
  .container.custom-container {
    max-width: 1255px;
    width: 90%;
  }
}
.hint {
  width: 16px;
  margin-left: auto;
  margin-right: 0;
}
.hint .icon-font-hint:before {
  font-size: 16px;
}
.hint .hint-content {
  position: absolute;
  bottom: 100%;
  left: -110px;
  right: -110px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
  padding-bottom: 10px;
}

.hint-popup .modal-dialog {
  max-width: 1140px;
}
.hint-popup .modal-dialog .modal-content {
  border-radius: 10px;
}
.hint-popup .modal-dialog .modal-content .website {
  margin: 0 0.6rem;
}

.rtl .hint {
  margin-left: 0;
  margin-right: auto;
}

.phone-number [class^=icon-font-]:before, .website [class^=icon-font-]:before {
  font-size: 16px;
}

/* background fixed */
.background {
  height: 100%;
  width: 100%;
  background: #fff;
  background: linear-gradient(165deg, #fff 0%, #d1ddd9 100%);
}
.background::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  transform: translate(-40%, -40%);
  filter: blur(20px);
  background-color: #00ff00;
  opacity: 0.13;
}
.background::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  transform: translate(-80%, 50%);
  filter: blur(20px);
  background-color: #00FFEB;
  opacity: 0.13;
}

/* main */
main {
  height: 100vh;
}
main .main-bg {
  background: #fff;
  background: linear-gradient(165deg, #fff 0%, #d1ddd9 100%);
}
main .homepage-img .image {
  width: 400px;
}
@media only screen and (max-width: 550px) {
  main .homepage-img .image {
    width: 70%;
  }
}
main .homepage-text .logo {
  width: 100px;
  height: 80px;
}

.fixed-height {
  height: 100%;
}
@media only screen and (max-width: 991px) {
  .fixed-height {
    height: auto !important;
  }
}

/* a black page */
.back-black {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 8;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease;
}
.back-black.active {
  visibility: visible;
  opacity: 1;
}

.menu-icon {
  width: 40px;
  height: 40px;
  right: 20px;
  bottom: 20px;
  z-index: 5;
  background-color: #800080;
  color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 12px 1px #6e6e6e;
}

@media only screen and (max-width: 991px) {
  .sidebar-sm {
    width: 300px;
    position: fixed;
    top: 0;
    z-index: 10;
    right: -300px;
    background: #fff;
    background: linear-gradient(165deg, #fff 0%, #d1ddd9 100%);
    overflow-y: auto;
    border-left: 1px solid #800080;
    padding-bottom: 10px;
    transition: all 0.2s ease;
  }
  .sidebar-sm.active {
    right: 0;
  }
  .sidebar-sm .sidebar .image {
    position: relative !important;
    left: 0;
    transform: translate(0, 0);
    margin: auto;
  }
}

.sidebar .image {
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 125px;
  height: 96px;
}
.sidebar .sidebar-main .os-padding {
  margin-top: 15px;
}
.sidebar .sidebar-main .create-vase-items .active {
  background-color: #fff;
  color: rgba(243, 170, 243, 0.6);
  border: 1px solid #b1ddcf;
}
.sidebar .sidebar-main .create-vase-items .cactus-icon::before {
  font-size: 125px;
}
.sidebar .sidebar-main .create-vase-items .soil-icon::before {
  font-size: 44px;
}
.sidebar .sidebar-main .create-vase-items .vase-icon::before {
  font-size: 60px;
}
.sidebar .quick-vase .image {
  top: 0;
  left: 0;
  transform: translate(0, 0);
  width: 46px;
  height: 46px;
}

.gallery .image {
  width: 100%;
}
.gallery .image:hover .gallery-popup {
  visibility: visible;
  opacity: 1;
}
.gallery .image .gallery-popup {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
  z-index: 10;
}
.gallery .image .discount {
  top: 8px;
  left: 8px;
}
.gallery .image img {
  width: 150px;
  height: 150px;
  padding: 15px;
}
.gallery .galley-content .price .cart-plus {
  width: 25px;
  height: 25px;
}
.gallery .galley-content .price .cart-plus i::before {
  font-weight: 900;
}
.gallery .galley-content .price .card-price {
  width: calc(100% - 25px);
}
.gallery .grid-item {
  width: 20%;
}
@media only screen and (max-width: 991px) {
  .gallery .grid-item {
    width: 33%;
  }
}
@media only screen and (max-width: 767px) {
  .gallery .grid-item {
    width: 33%;
  }
}
@media only screen and (max-width: 575px) {
  .gallery .grid-item {
    width: 50%;
  }
}
@media only screen and (max-width: 420px) {
  .gallery .grid-item {
    width: 100%;
  }
}
.gallery .grid-item.soil-item {
  width: 100%;
}
@media only screen and (max-width: 991px) {
  .gallery .grid-item.soil-item {
    width: 50%;
  }
}
@media only screen and (max-width: 767px) {
  .gallery .grid-item.soil-item {
    width: 50%;
  }
}
@media only screen and (max-width: 575px) {
  .gallery .grid-item.soil-item {
    width: 100%;
  }
}
@media only screen and (max-width: 420px) {
  .gallery .grid-item.soil-item {
    width: 100%;
  }
}
.gallery .grid-item.soil-item .image {
  width: 190px;
  height: 190px;
}
.gallery .grid-item.soil-item .image img {
  width: 100%;
  height: 100%;
}
.gallery .category-leaders .is-checked,
.gallery .sort-button-group .is-checked {
  border: 1px solid #800080 !important;
  color: #800080;
}
.gallery .sort-button-group {
  border-right: 1px solid rgba(112, 112, 112, 0.5);
}
@media only screen and (max-width: 991px) {
  .gallery .option-sm .option-head .arrow.active::before {
    content: "\f116";
  }
  .gallery .option-sm .category-leaders {
    width: 200px;
    position: absolute;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 1;
    border: 1px solid #d1ddd9;
    border-radius: 20px;
    top: calc(100% + 10px);
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease;
  }
  .gallery .option-sm .category-leaders.active {
    visibility: visible;
    opacity: 1;
  }
}

.lg-outer {
  direction: ltr !important;
}

[data-number-spinner] {
  flex-direction: row-reverse;
  background-color: #fff;
  padding: 7px 15px;
  border-radius: 50px;
}
[data-number-spinner] input {
  height: 22px;
  width: 35px !important;
  padding: 0 4px;
  background-color: transparent;
  border: none;
  outline: none;
}
[data-number-spinner] button {
  background-color: transparent;
  border: 2px solid rgba(103, 103, 103, 0.4);
  color: #676767;
  padding-top: 2px;
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
  outline: none;
}
[data-number-spinner] button:hover {
  border: 2px solid rgba(128, 0, 128, 0.4);
  color: #800080;
  background: transparent;
}

.lg-container {
  direction: ltr !important;
}

[data-slider] .slider-item {
  margin-right: 0;
}
[data-slider] .slider-item .cactus .image {
  width: 100%;
  height: 110px;
  margin: auto;
}
@media only screen and (max-width: 767px) {
  [data-slider] .slider-item .cactus .image {
    height: 24vw;
  }
}
@media only screen and (max-width: 575px) {
  [data-slider] .slider-item .cactus .image {
    width: 30vw;
    height: 30vw;
  }
}
[data-slider] .slider-item .soil .image {
  height: 75px;
  margin: auto;
}
@media only screen and (max-width: 575px) {
  [data-slider] .slider-item .soil .image {
    width: 30vw;
    height: 16vw;
  }
}
[data-slider] .slider-item .vase .image {
  height: 100px;
  margin: auto;
}
@media only screen and (max-width: 575px) {
  [data-slider] .slider-item .vase .image {
    width: 30vw;
    height: 24vw;
  }
}

.slider .chevron {
  width: 30px;
  height: 30px;
}
@media only screen and (max-width: 992px) {
  .slider .chevron {
    border: 1px solid #800080;
  }
}

.create-new-vase .icon {
  width: 66px;
  height: 66px;
}

.form-control {
  color: rgba(103, 103, 103, 0.4);
  border: none;
}
.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(103, 103, 103, 0.4);
  opacity: 1;
  /* Firefox */
}
.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(103, 103, 103, 0.4);
}
.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(103, 103, 103, 0.4);
}
.form-control:focus {
  color: #000;
  background-color: #fff;
  border-color: rgba(177, 221, 207, 0.4);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(177, 221, 207, 0.4);
}

.btn-cruise {
  background-color: #b1ddcf;
}
.btn-cruise:focus {
  box-shadow: 0 0 0 0.25rem rgba(177, 221, 207, 0.4);
}

.btn-purple {
  background-color: #800080;
}
.btn-purple:focus {
  box-shadow: 0 0 0 0.25rem rgba(128, 0, 128, 0.4);
}

.btn.btn-outline-purple {
  border-color: #800080;
}
.btn.btn-outline-purple:focus {
  box-shadow: 0 0 0 0.25rem rgba(128, 0, 128, 0.4);
}
.btn.btn-outline-purple:hover {
  background-color: #800080;
  border-color: #800080;
}

.form-check:not(.p-0) {
  padding-left: 0 !important;
  padding-right: 40px !important;
}
.form-check .form-check-label {
  margin-right: 2.5em;
}

.form-check-input {
  transition: all 0.2s ease;
  margin-top: 0;
}
.form-check-input:checked {
  background-color: transparent;
  border-color: #c2c2c2;
}
.form-check-input:checked[type=checkbox] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23800080' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}
.form-check-input:checked[type=radio] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23800080'/%3e%3c/svg%3e");
}
.form-check-input[type=checkbox]:indeterminate {
  background-color: rgba(112, 112, 112, 0.2);
  border: none;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23707070' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e");
}
.form-check-input:focus {
  border-color: rgba(128, 0, 128, 0.4);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(128, 0, 128, 0.4);
}

.custom-dropdown .icon-font-triangle {
  transition: all 0.3s ease;
}
.custom-dropdown.collapsed .icon-font-triangle {
  transform: rotate(180deg);
}

textarea {
  height: 100px;
  max-height: 150px;
}

.modal .search-box .search-icon {
  left: 10px;
  z-index: 2;
  top: 50%;
  transform: translate(0px, -50%);
  width: 20px;
  height: 20px;
}
@media only screen and (min-width: 576px) {
  .modal.complaints .modal-dialog {
    max-width: 640px;
    margin: 1.75rem auto;
  }
}

/*# sourceMappingURL=main.css.map */
